name: Update Version 

on:
  workflow_dispatch:

env:
  GIT_USER: ${{ vars.GITHUB_REPOSITORY_OWNER }} 
  # Could not for the life of me get auth working with the builtin GITHUB_TOKEN
  # This is a PAT setup in the action secrets in Github
  GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
  GIT_REPO: ${{ vars.GITHUB_REPOSITORY }} 
  GIT_MAIN_BRANCH: ${{ vars.GITHUB_REF_NAME }} 
  GIT_DEV_BRANCH: development

defaults:
  run:
    working-directory: ./ 

jobs:
  version:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
      - name: Create Version
        run: npm install && npm run dagger update-version.mts
