name: Update Version

on:
  workflow_dispatch:

env:
  GIT_USER: ${{ github.repository_owner }}
  # Could not for the life of me get auth working with the builtin GITHUB_TOKEN
  # This is a PAT setup in the action secrets in Github
  # GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GIT_REPO: ${{ github.repository }}
  GIT_MAIN_BRANCH: ${{ github.ref_name }}
  GIT_DEV_BRANCH: development

defaults:
  run:
    working-directory: ./

jobs:
  version:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      actions: write
    timeout-minutes: 5
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
      - name: Generate Githup App Token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: 820653
          installation_id: 47041300
          private_key:  ${{ secrets.APP_PRIVATE_KEY }}
          permissions: >-
            {"checks": "write", "contents": "write", "actions": "write"}
      - name: Create Version
        run: npm install && npm run dagger update-version.mts
        env:
          GIT_TOKEN: ${{ steps.generate_token.outputs.token }}
